<!DOCTYPE HTML>
<html>
	<head>
		<title>Federico's Resume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" type="image/png"  sizes="64x64" href="/static/images/f.png">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">

						<header>
							<h1>Federico Diaferia</h1>
							<h2><strong>FULL STACK<br>WEB DEVELOPER</strong></h2>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="lang-toggle">
                                <a href="{{ url_for('portfolio', lang='de') }}">
                                    <img src="static/images/ger_flag.png" alt="Deutsch" width="30">
                                </a>
							</div>
						<div class="content">
							<span class="image fill" data-position="center"><img src="static/images/profile.jpg"
																				 alt="profile picture" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>CAREER OBJECTIVE</h2>
						</header>
						<div class="content">
							<p><strong>I am a creative and passionate web developer with a solution-oriented mindset and
								a strong drive for building efficient, scalable, and high-performance web applications.
								Experienced in JavaScript, Node.js, and React, I am skilled at developing maintainable
								code, optimizing application performance, and integrating modern web technologies to
								deliver seamless user experiences. I thrive in collaborative, fast-paced development
								environments, contributing to dynamic teams and tackling complex challenges with an
								analytical and proactive approach. Committed to continuous learning, I actively stay
								updated on emerging web technologies and best practices to ensure innovative and
								future-proof solutions.</strong></p>
						</div>
					</section>

				<!-- Section -->
					<section id="second">>
						<header>
							<h2>EDUCATION BACKGROUND</h2>
							<ul class="actions">
								<li><a href="#third" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<p><strong>Full Stack Web Development Trainee<br>DCI Digital Career Institute GmbH, Berlin
								(Apr 2023 – Jun 2024)<br></strong>
							Completed an intensive one-year training program focused on
							the MERN stack (MongoDB, Express.js, React, Node.js).
							Built and deployed multiple hands-on projects, applying front-
							end, back-end, and database management principles.
							Developed a full-stack final project, an interactive platform
							connecting artists and entrepreneurs, implementing real-time
							chat, multi-language support, and user authentication.</p>
							<p><strong>B.A. in Foreign Languages and Literature, University of Turin
							(2005-2012)</strong><br>
							Specialized in English and Spanish, with a focus on tourism, cultural studies,
								and cross-cultural communication. Developed strong linguistic, analytical, and research
								skills, including translation, academic writing, and cultural analysis.</p>
						</div>
					</section>

				<!-- Section -->
					<section id="third">
						<header>
							<h2>WORK BACKGROUND</h2>
							<ul class="actions">
								<li><a href="#fourth" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<p><strong>Freelance online Marketing Specialist, Berlin (2020-2022)</strong><br>
								Planned and executed digital marketing campaigns across social media, Google Ads, and email channels
								to increase brand visibility and engagement.
								Managed SEO and content optimization, improving organic traffic and keyword rankings.
								Analyzed campaign performance using Google Analytics and adjusted strategies based on
								data-driven insights.
								Collaborated with designers and developers to create landing pages and optimize
								conversion funnels.
								Contributed to a 30% increase in online leads and stronger customer retention through
								targeted communication and automation tools.</p>
							<p><strong>Freelance Tour Guide, Greece (2016-2019)</strong><br>
								Designed and led customized tours, delivering engaging
								insights into local history, culture, and attractions.
								Ensured exceptional customer satisfaction by addressing
								inquiries, adapting to client needs, and providing high-quality
								service.
								Managed end-to-end tour logistics, including itinerary planning,
								vendor coordination, and real-time problem-solving.
								Communicated fluently in English and Spanish, enhancing
								accessibility for an international clientele.</p>
							<p><strong>Freelance Spanish Teacher, Turin (2012–2015)</strong><br>
								Customized lessons for diverse age groups and skill levels
								Created materials emphasizing communication, grammar, and
								culture
								Ensured lasting learning outcomes through practical, student-
								focused methods
							</p>

						</div>
					</section>
					<!-- Section -->
					<section id="fourth">
						<header>
							<h2>TECH STACK</h2>
							<ul class="actions">
							<li><a href="#fifth" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<h4>Frontend</h4>
							<ul>
								<li>HTML5</li>
								<li>CSS3</li>
								<li>JavaScript (Vanilla, React)</li>
							</ul>
							<h4>Backend</h4>
							<ul>
								<li>Node.js</li>
								<li>Express.js</li>
								<li>Python</li>
							</ul>
							<h4>Databases</h4>
							<ul>
								<li>MongoDB</li>
								<li>Firebase</li>
								<li>SQL</li>
							</ul>
							<h4>Tools</h4>
							<ul>
								<li>Git</li>
								<li>Socket.IO</li>
								<li>Linux</li>
							</ul>
						</div>
					</section>
					<!-- Section -->
					<section id="fifth">
						<header>
							<h2>LANGUAGES</h2>
							<ul class="actions">
								<li><a href="#sixth" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<ul>
								<li><strong>Italian:</strong> Native </li>
								<li><strong>English:</strong> Fluent (C1)</li>
								<li><strong>Spanish:</strong> Fluent (C1)</li>
								<li><strong>German:</strong> Intermediate (B2)</li>
								<li><strong>Greek:</strong> Beginner (A2)</li>
							</ul>
						</div>
					</section>
				<!-- Section -->
					<section id="sixth">
						<header>
							<h2>Personal projects</h2>
							<p> Here is a selection of my personal projects, showcasing my ability to
								design, develop, and deploy full-stack web applications. Each project
								reflects my focus on clean code, scalability, and creative
								problem-solving.</p>
						</header>
						<div class="content">
							<div class="gallery">
							<p class="project"><strong>Simona</strong><br>
							 Simona is an intuituve medium which offers an interactive collaboration
								between two partners.
							 The application is desiged to simplify the matching of offer and demand.
								Join the community, become a member only few clicks away from a vast
								pool of talented forces, artists and entrepreneurs.
							  </p>
							<div class="links"><span class="link-item">
									Official website:
									<a href="https://simona-1973-client.vercel.app" target="_blank">
									  <strong>simona-1973-client.vercel.app</strong>
									</a>
								  </span>

								  <span class="link-item">
									Source code:
									<a href="https://github.com/ocirede/Simona_DCI_final_project" target="_blank">
									  <strong>github.com/ocirede/Simona_DCI_final_project</strong>
									</a>
								  </span>
								<a href="static/images/simona.png" class="portrait"><img src="static/images/simona.png" alt="Simona" /></a>
								<a href="static/images/simona_chat.png" class="portrait"><img src="static/images/simona_chat.png" alt="" /></a>
							</div>
								<p class="project"><strong>Crypto Bot</strong><br>
									This is an automated JavaScript Crypto Trading Bot designed to analyze market trends, execute trades, and optimize profit strategies. The bot integrates various indicators such as MACD, EMA, Bollinger Bands, VWAP, ATR, and ADX to enhance decision-making.
								</p>
								 <div class="links">
									<span class="link-item">
										Source Code: <a href="https://github.com/ocirede/JavaScript_Crypto_Bot" target="_blank"><strong>https://github.com/ocirede/JavaScript_Crypto_Bot</strong></a>
									</span>
								<a href="static/images/chart.png" class="portrait"><img src="static/images/chart.png" alt="bot" /></a>
								<a href="static/images/panel.png" class="portrait"><img src="static/images/panel.png" alt="bot" /></a>
								 </div>
								<p class="project"><strong>Automated Apartment Finder</strong><br>An automated web
									scraper that navigates apartment listing websites using Selenium
									WebDriver as Python library. The bot fills out search forms by interacting with various
									UI elements including text inputs, radio buttons, date pickers, and ng-select dropdowns.
									It handles dynamic Angular components by typing to filter dropdown options and uses multiple click
									strategies (JavaScript execution, ActionChains) to interact with elements. The scraper
									can extract apartment details and automate the application process.</p>
								 <div class="links">
									<span class="link-item">
										Source Code: <a href="https://github.com/ocirede/Udemy_course_Python_small_projects/tree/main/scraping_apartment" target="_blank"><strong>https://github.com/ocirede/Udemy_course_Python_small_projects/tree/main/scraping_apartment</strong></a>
									</span>
								<a href="static/images/scraper1.png" class="portrait"><img src="static/images/scraper1.png" alt="selenium" /></a>
								<a href="static/images/scraper2.png" class="portrait"><img src="static/images/scraper2.png" alt="selenium" /></a>
								 </div>
							</div>
						</div>
							<!-- Section -->
						<section class="touch">
							<header>
								<h2>Get in touch</h2>
							</header>
							<footer>
								  <ul class="items">
									<li>
									  <h3>Email</h3>
									  {% if is_mobile %}
										<a href="mailto:{{ email }}">{{ email }}</a>
									  {% else %}
										<a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ email }}" target="_blank">{{ email }}</a>
									  {% endif %}
									</li>

									<li>
									  <h3>Phone</h3>
									  <span>{{ phone }}</span>
									</li>

									<li>
									  <h3>Address</h3>
									  <span>{{ address }}</span>
									</li>

									<li>
									  <h3>Elsewhere</h3>
									  <ul class="icons">
										<li>
										  <a href="https://www.linkedin.com/in/federico-d-902876225/"
											 target="_blank" class="icon brands fa-linkedin-in">
											<span class="label">LinkedIn</span>
										  </a>
										</li>
										<li>
										  <a href="https://github.com/ocirede"
											 target="_blank" class="icon brands fa-github">
											<span class="label">GitHub</span>
										  </a>
										</li>
									  </ul>
									</li>
								  </ul>
								</footer>
						</section>
					</section>
				<!-- Section -->
					<section>
						<header>
							<ul class="actions">
								<li><a href="#" class="arrow1 scrolly"><span class="label">Up</span></a></li>
							</ul>
						</header>

					</section>
				<!-- Copyright -->
					<div class="copyright">&copy; Untitled. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>

</html>
